<hibernate-configuration>
    <session-factory>
        <!-- Database connection -->
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">
            jdbc:postgresql://localhost:5432/HibernateCourse
        </property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">Rajat@1803</property>

        <!-- Hibernate settings -->
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <!-- To see the queries -->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>

        <!-- Mapping of entities -->
        <mapping class="org.example.hibernatecourse.Student"/>
        <mapping class="org.example.hibernatecourse.Laptop"/>
    </session-factory>
</hibernate-configuration>
